<div class="landing_back">
<div class="landing_div">
  <h1>Kick-About!</h1>
      <li class="landing"><%= link_to 'Login', new_user_session_path %></li>
      <li class="landing"><%= link_to 'Sign up', new_user_registration_path %></li>
</div>
</div>