<div class="matchback">
  <main>
    <h1>Challenges Received</h1>

    <div ng-repeat="m in match">
      <p>{{m.team_a.name}} {{m.team_a_score}} vs {{m.team_b_score}} {{m.team_b.name}} - message {{m.title}} Location - {{m.location}} Time - {{m.time}} Date - {{m.date}}</p>
      <div ng-if="m.status == false" >
        <button class="pure-button pure-button-primary" ng-click="acceptMatch(m)">Accept</button>
        <button class="pure-button pure-button-primary" ng-click="deleteMatch(m)">Delete</button>
      </div>
      <div ng-if="m.team_a_score === null">
        <button class="pure-button pure-button-primary" ng-if="m.status == true" ng-click="showMatchResult(m)">Update Result</button>
      </div>
    </div>

    <h1>Challenges sent:</h1>
    <div ng-repeat="challenge in challenges">
      <p>{{challenge.team_b.name}} {{challenge.team_b_score}} vs {{challenge.team_a_score}} {{challenge.team_a.name}} Location - {{challenge.location}} Time - {{challenge.time}} Date - {{challenge.date}}</p>
      <p ng-if="challenge.status == false">Challenge Pending</p>
      <div ng-if="challenge.team_a_score === null">
        <button class="pure-button pure-button-primary" ng-if="challenge.status === true" ng-click="showMatchResult(challenge)">Update Result</button>
      </div>

    </div>
  </main>
</div>