<div class='leagueback'>
  <main>
    <h1>THIS IS THE UPDATE CHALLENGE</h1>


    <form class="pure-form" role="form" name="updateChallengeForm" ng-submit="updateScore(match, matchResult)">
      <div class="pure-control-group">
        <label for="team_a_score">{{matchToUpdate.team_a.name}}</label>
        <input type="number" id="team_a_score" placeholder="Score" ng-model="matchResult.team_a_score" />
      </div>
      <div class="pure-control-group">
        <label for="team_b_score">{{matchToUpdate.team_b.name}}</label>
        <input type="number" id="team_b_score" placeholder="Score" ng-model="matchResult.team_b_score" />
      </div>

      <button class="pure-button pure-button-primary" type="submit" ng-click="matchPage()">Submit</button>
    </form>



  </main>
</div>