
<home-page ng-hide="showHome"></home-page>


<profile-page ng-show="showProfile"></profile-page>



<team-page ng-show="showTeam"></team-page>

<create-team-page ng-show="showCreateTeam"></create-team-page>


<chat-room ng-show="showChat"></chat-room>


<league-table ng-show="showLeague"></league-table>



<match-details ng-show="showMatch"></match-details>

<update-challenge ng-show="showUpdateChallenge"></update-challenge>

    



</body>
</html>