<div class="container">
  <div class="grid">
    <figure ng-click="profilePage()" class="effect-profile">
      <img src="https://s3-eu-west-1.amazonaws.com/kickabout/F6.jpg" alt="img01"/>
      <figcaption>
        <h2>My <span> Profile</span></h2>
        <p>View your profile and statistics</p>
        <a href="#">View more</a>
      </figcaption>     
    </figure>
    <figure ng-click="loadPage()" class="effect-team">
      <img src="https://s3-eu-west-1.amazonaws.com/kickabout/F2.jpg" alt="img02"/>
      <figcaption>
        <h2 ng-show='team'>My <span> Team</span></h2>
        <h2 ng-hide='team'>Create/Join <span> Team</span></h2>
        <p ng-show='team'>View details about your current team.</p>
        <p ng-hide='team'>Create or join a team.</p>
        <a href="#">View more</a>
      </figcaption>  
    </figure>
    <figure ng-click="leaguePage()" class="effect-league">
      <img src="https://s3-eu-west-1.amazonaws.com/kickabout/F3.jpg" alt="img03"/>
      <figcaption>
        <h2>League <span> Tables</span></h2>
        <p>View league tables and where your team stands.</p>
        <a href="#">View more</a>
      </figcaption>     
    </figure>
    <figure ng-click="matchPage()" class="effect-match">
      <img src="https://s3-eu-west-1.amazonaws.com/kickabout/F1.jpg" alt="img04"/>
      <figcaption>
        <h2>Match <span> History</span></h2>
        <p>Click here to see your match history.</p>
        <a href="#">View more</a>
      </figcaption>     
    </figure>
    <figure ng-click="chatPage()" class="effect-chat">
      <img src="https://s3-eu-west-1.amazonaws.com/kickabout/F10.jpg" alt="img08"/>
      <figcaption>
        <h2>Rule <span> Book</span></h2>
        <p>Read the rule book to learn how to play.</p>
        <a href="#">View more</a>
      </figcaption>     
    </figure>
  </div>
    </div><!-- /container -->