<div class="profileback">
  <main>
    <div class="profile_section">
      <h1>Your Profile</h1>
      <div class="left_profile">
      <p><img class="profile_pic" src="{{user.image.url}}"></p>
      <h1>Name: {{user.name}}</h1>
      </div>
      <div class="right_profile">
      <h3>Date of Birth: {{user.dob}}</h3>
      <h3>Height (cm): {{user.height}}</h3>
      <h3>Location: {{user.location}}</h3>
      <h3>Team: {{team.name}}</h3>
      <h3>Position: {{user.position}}</h3>
      </div>
    </div>
</main>
</div>